<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Cómo funcionamos? - ProyManager</title>
    <link rel="stylesheet" href="./Styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="./Script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-title">
            <h1>ProyManager</h1>
            <div class="config-icon">
                <a href="../Configuration/Index.html">
                    <img src="../Images/Configuration.jpg" alt="Configuración">
                </a>
            </div>
        </div>
        
        <nav class="navbar">
            <ul>
                <li><a href="../Home/Index.html">Ir a Inicio</a></li>
                <li><a href="./Index.html">¿Cómo funcionamos?</a></li>
                <li><a href="../your_projects/Index.html">Ver tus proyectos</a></li>
                <li><a href="../Login/Index.html">Log In</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="text-container">
            <h2>¿Cómo funciona ProyManager?</h2>
            <p>ProyManager utiliza una metodología ágil que permite a los usuarios gestionar sus proyectos de manera efectiva...</p>

            <h2>Planes de Suscripción</h2>
            <div class="subscription-plans">
                <div class="plan">
                    <h3>Administrador</h3>
                    <p>Acceso completo a todas las funcionalidades.</p>
                    <p><strong>Precio: $20/mes</strong></p>
                    <a href="../Login/Registro/Index.html" class="subscribe-button">Agregar</a>
                </div>
                <div class="plan">
                    <h3>Trabajador</h3>
                    <p>Acceso limitado a las funciones necesarias para la gestión de tareas.</p>
                    <p><strong>Precio: $10/mes</strong></p>
                    <a href="../Login/Registro/Index.html" class="subscribe-button">Agregar</a>
                </div>
                <div class="plan">
                    <h3>Visualizador</h3>
                    <p>Acceso solo para ver proyectos y tareas sin modificaciones.</p>
                    <p><strong>Precio: $5/mes</strong></p>
                    <a href="../Login/Registration/Index.html" class="subscribe-button">Agregar</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>¿Listo para optimizar tu gestión de proyectos?</p>
    </footer>
</body>
</html>
