<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyManager</title>
    <link rel="stylesheet" href="./Styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="./script.js" defer></script>
</head>
<body>
    <header>
        <div class="header-title">
            <h1>ProyManager</h1>
            <div class="config-icon">
                <a href="../Configuration/Index.html">
                    <img src="../Images/Configuration.jpg" alt="Configuración">
                </a>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../Home/Index.html">Ir a Inicio</a></li>
                <li><a href="../Information/Index.html">¿Cómo funcionamos?</a></li>
                <li><a href="./Index.html">Ver tus proyectos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="projects">
            <div class="project-list">
                
                <div class="project-item">
                    <img src="../Images/Software_3.jpg" alt="ingeniería de software">
                    <h3>Ingeniería de software</h3>
                    <p>La Ingeniería de Software se enfoca en el diseño, desarrollo y gestión de software. Los estudiantes aprenden sobre la programación, diseño de sistemas, y metodologías de desarrollo de software, preparando a los graduados para trabajar en una variedad de industrias tecnológicas.</p>
                    <button onclick="showModal('La Ingeniería de Software se enfoca en el diseño, desarrollo y gestión de software. Los estudiantes aprenden sobre la programación, diseño de sistemas, y metodologías de desarrollo de software, preparando a los graduados para trabajar en una variedad de industrias tecnológicas.')">Ver más</button>
                </div>
                
                <div class="project-item">
                    <img src="../Images/agricultural_Machine.jpg" alt="Ingeniería agrícola">
                    <h3>Ingeniería agrícola</h3>
                    <p>La Ingeniería Agrícola se centra en la aplicación de principios de ingeniería para resolver problemas en la agricultura. Los estudiantes estudian temas como la gestión de recursos agrícolas, tecnología de cultivos y maquinaria agrícola.</p>
                    <button onclick="showModal('La Ingeniería Agrícola se centra en la aplicación de principios de ingeniería para resolver problemas en la agricultura. Los estudiantes estudian temas como la gestión de recursos agrícolas, tecnología de cultivos y maquinaria agrícola.')">Ver Más</button>
                </div>
                
                <div class="project-item">
                    <img src="../images/Machine.jpg" alt="Ingeniería petróleo">
                    <h3>Ingeniería petróleo</h3>
                    <p>La Ingeniería en Petróleo está orientada al estudio de la exploración, extracción y procesamiento del petróleo y gas natural. Los estudiantes aprenden sobre técnicas de perforación, refinación de petróleo y gestión de recursos energéticos.</p>
                    <button onclick="showModal('La Ingeniería en Petróleo está orientada al estudio de la exploración, extracción y procesamiento del petróleo y gas natural. Los estudiantes aprenden sobre técnicas de perforación, refinación de petróleo y gestión de recursos energéticos.')">Ver Más</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p> ¡Estos son todos tus proyectos!</p>
    </footer>