<body>
    <header>
        <div class="header-title">
            <h1>ProyManager</h1>
            <div class="config-icon">
                <a href="../Configuration/Index.html">
                    <img src="../Images/Configuration.jpg" alt="Configuration">
                </a>
            </div>
        </div>
        
        <nav class="navbar">
            <ul>
                <li><a routerLink="../Home">Home</a></li>
                <li><a routerLink="../About_us">How we work?</a></li>
                <li><a routerLink="../Projects">Your Projects</a></li>
                <li><a href="../Log_in">Log In</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="text-container">
            <h2>How does ProyManager work?</h2>
            <p>
                ProyManager uses an agile methodology that allows users to effectively manage their projects, 
                providing tools for assigning tasks, setting deadlines, and tracking progress. 
                With an intuitive interface and robust database integration, it ensures smooth collaboration 
                and productivity optimization for teams of any size.
            </p>

            <h2>Subscription Plans</h2>
            <div class="subscription-plans">
                <div class="plan">
                    <h3>Administrator</h3>
                    <p>Full access to all functionalities.</p>
                    <p><strong>Price: $20/month</strong></p>
                    <a routerLink="../log-in-form" class="subscribe-button">Add</a>
                </div>
                <div class="plan">
                    <h3>Worker</h3>
                    <p>Limited access to the features needed for task management.</p>
                    <p><strong>Price: $10/month</strong></p>
                    <a routerLink="../log-in-form" class="subscribe-button">Add</a>
                </div>
                <div class="plan">
                    <h3>Viewer</h3>
                    <p>Access only to view projects and tasks without modifications.</p>
                    <p><strong>Price: $5/month</strong></p>
                    <a routerLink="../log-in-form" class="subscribe-button">Add</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Ready to optimize your project management?</p>
    </footer>
</body>
