* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: var(--background-gradient);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    z-index: 1;
    box-shadow: 0 0 10px var(--box-shadow-color);
    padding: 20px 0;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: var(--primary-color);
}

.config-icon {
    position: absolute;
    right: 20px;
    top: 10px;
}

.navbar {
    margin-top: 15px;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid transparent;
    transition: all var(--transition-speed);
}

.navbar a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--border-color);
    border-radius: 5px;
}

main {
    padding: 100px 20px 20px;
}

.project-list {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 80px;
}

.project-item {
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px var(--box-shadow-color);
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-item h3 {
    font-size: 1.5rem;
    margin: 15px;
    color: var(--primary-color);
}

.project-item p {
    font-size: 1rem;
    margin: 0 15px 15px 15px;
    color: var(--text-color);
}

.project-item button {
    display: block;
    width: 80%;
    margin: 0 auto 15px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.project-item button:hover {
    background-color: var(--link-hover-color);
    transform: scale(1.1);
}

.btn-add {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-add:hover {
    background-color: #0099cc;
    transform: scale(1.1);
}


.btn-see-more {
    background-color: var(--see-more-color);
    color: var(--secondary-color);
}

.btn-see-more:hover {
    background-color: #28a745;
    transform: scale(1.1);
}


.btn-edit {
    background-color: var(--edit-color);
    color: var(--secondary-color);
}

.btn-edit:hover {
    background-color: #ffd700;
    transform: scale(1.1);
}


.btn-delete {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.btn-delete:hover {
    background-color: #e74c3c;
    transform: scale(1.1);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modal-content {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--box-shadow-color);
    max-width: 500px;
    width: 80%;
    text-align: center;
    position: relative;
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
    transition: color var(--transition-speed);
}

.close:hover {
    color: var(--link-hover-color);
}


footer {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 1rem;
    box-shadow: 0px -4px 10px var(--box-shadow-color);
}