<app-navbar></app-navbar>

<div class="container">
    <div class="login-form">
        <h1>Enter your login credentials</h1>
        <div class="error-message" [style.display]="errorMessage ? 'block' : 'none'">
            {{ errorMessage }}
        </div>

        <form id="loginForm" (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
            <div class="input-group">
                <label for="username">Email</label>
                <input type="text" id="username" name="username" [(ngModel)]="username" required
                    placeholder="Enter your email" minlength="3" maxlength="20" pattern="^[a-zA-Z0-9_.-]*$"
                    title="The username must only contain letters, numbers, and certain special characters like . _ -"
                    [disabled]="isLoading">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required
                    placeholder="Password" minlength="8" maxlength="20"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d@$!%*?&]{8,}$"
                    title="The password must be at least 8 characters long, include letters, numbers, and special symbols."
                    [disabled]="isLoading">
            </div>

            <div class="join-message" style="font-size: 3vh; text-align: center; margin-top: 10px;">
                <p>Not a part of us yet? Would you like to join?</p>
                <a routerLink="../About_us" target="_blank">See information here</a>
            </div>

            <button type="submit" [disabled]="isLoading">
                {{ isLoading ? 'Logging in...' : 'Log In' }}
            </button>
        </form>
    </div>
</div>