<app-navbar></app-navbar>

<div class="container">
    <div class="image-gallery-wrapper">
        <div class="image-gallery">
            <img id="gallery-image" [src]="images[currentImageIndex]" alt="Projects">
        </div>
        <div class="arrows">
            <button (click)="changeImage(-1)">&#10094;</button>
            <button (click)="changeImage(1)">&#10095;</button>
        </div>
        <div class="progress-dots">
            <span *ngFor="let image of images; let i = index" class="dot" [class.active]="isActive(i)"
                (click)="setImage(i)">
            </span>
        </div>
    </div>
    <div class="text-container">
        <h2>What is ProyManager?</h2>
        <p>
            ProyManager is an innovative platform designed to optimize project management.
            Its goal is to facilitate the planning, execution, and monitoring of initiatives
            across various fields, from software development to the implementation of business
            robotics projects.
        </p>
        <p>
            With an intuitive interface and advanced functionalities, ProyManager allows users
            to assign tasks, set deadlines, and collaborate in real-time, improving productivity
            and communication among teams.
        </p>
        <p>
            Its standout features include the ability to create visual timelines, progress
            tracking tools, and analysis options that help identify areas for improvement.
            ProyManager adapts to the needs of both small and large organizations, making it
            the perfect ally to take any project from concept to reality.
        </p>
    </div>
</div>

<footer>
    <p>Are you ready to use our management system?</p>
</footer>