<body>
    <header>
        <div class="header-title">
            <h1>Register - ProyManager</h1>
        </div>
        <div class="config-icon">
            <a routerLink="../Settings">
                <img src="../Images/Configuration.jpg" alt="Configuration">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a routerLink="../Home">Home</a></li>
                <li><a routerLink="../About_us">How we work?</a></li>
                <li><a routerLink="../Projects">Your Projects</a></li>
                <li><a routerLink="../Log_in">Log In</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="text-container">
            <form id="registration-Form">
                <h2>Registration Form</h2>
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required placeholder="Enter your name">
                </div>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required placeholder="Enter your username">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <input type="hidden" id="role" name="role" value="">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

    <footer>
        <p>Ready to optimize your project management?</p>
    </footer>
</body>
