<body>
    <header>
        <div class="header-title">
            <h1>Registro - ProyManager</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a routerLink="../Home">Home</a></li>
                <li><a routerLink="../About_us">How we work?</a></li>
                <li><a routerLink="../Projects">Your Projects</a></li>
                <li><a routerLink="../log-in-form">Log In</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="text-container">
            <form id="registration-Form">
                <h2>Formulario de Registro</h2>
                <div class="input-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" required placeholder="Escriba su nombre">
                </div>
                <div class="input-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required placeholder="Escriba su usuario">
                </div>
                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required placeholder="Contraseña">
                </div>
                <input type="hidden" id="role" name="role" value="">
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>

    <footer>
        <p>¿Listo para optimizar tu gestión de proyectos?</p>
    </footer>
</body>

