 <body>
      <div class="config-tab">
        <h1>Settings</h1>
        <div class="section">
          <h2>Name: admin</h2>
          <div class="image-upload">
            <img id="profile-preview" src="../Images/Me.jpg" alt="Vista previa">
            <input type="file" id="profile-picture" accept="image/*">
            <label for="profile-picture">Cambiar imagen</label>
          </div>
        </div>
        <div class="section">
          <h2>Role: Adminin</h2>
        </div>
          <a routerLink="../Home">
          <button class="save-button">Save changes</button>
          </a>
      
      </div>
    </body>
   
    