 <body>
      <div class="config-tab">
        <h1>Configuraciones</h1>
        <div class="section">
          <h2>Nombre: Jose Fernando Dell Tejada Cuellar</h2>
          <div class="image-upload">
            <img id="profile-preview" src="../Images/Me.jpg" alt="Vista previa">
            <input type="file" id="profile-picture" accept="image/*">
            <label for="profile-picture">Cambiar imagen</label>
          </div>
        </div>
        <div class="section">
          <h2>Rol: Administrador</h2>
          <label>
            <input type="checkbox" checked>
            ¿Recibir notificaciones relacionadas a mis proyectos?
          </label>
        </div>
        <div class="section">
          <h2>Sonido de Fondo</h2>
          <audio id="background-audio" loop>
            <source src="../Audio/Sound.mp3" type="audio/mpeg">
            i know
          </audio>
          <label>
            Volumen:
            <input type="range" id="volume-control" min="0" max="1" step="0.01" value="0.5">
          </label>
          <button id="toggle-music">Reproducir música</button>
        </div>
          <a routerLink="../Home">
          <button class="save-button">Guardar Cambios</button>
          </a>
      
      </div>
    </body>
   
    